# vim:foldmethod=marker:fmr=<<<,>>>
# Dynamic traefik configuration

# Service template <<<
# routers:
#   <router-name>:
#     service: <service-name>
#     rule: Host(`<domain-to-match>`) && ClientIP(`<authorized-IPs>`)
#     entrypoints:
#       - websecure
#     tls:
#       certresolver: letsencrypt
# 
# services:
#   <service-name>:
#     loadbalancer:
#       servers:
#         - url: http://<container-name>:port
# >>>

http:
  routers:
# Routers <<<
    bitwarden:
      service: bitwarden
      rule: Host(`bitwarden.kantai.online`) && ( ClientIP(`10.100.0.0/24`) || ClientIP(`192.168.1.0/24`) )
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - fail2ban

    pihole:
      service: pihole
      rule: Host(`pihole.kantai.online`) && ( ClientIP(`10.100.0.0/24`) || ClientIP(`192.168.1.0/24`) )
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    nextcloud:
      service: nextcloud
      rule: Host(`drive.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares: 
        - geoblock
      #  - fail2ban
        - nextcloud-sts
        - nextcloud-replace
        - nextcloud-gallery-unfart

    serben-rust:
      service: serben-rust
      rule: Host(`serben.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        # - fail2ban
        - geoblock

    nginx:
      service: nginx
      rule: Host(`web.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - fail2ban
        - geoblock

    gitea:
      service: gitea
      rule: Host(`git.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - fail2ban

    vikunja:
      service: vikunja
      rule: Host(`todo.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - geoblock
        - fail2ban

    jellyfin:
      service: jellyfin
      rule: Host(`media.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - geoblock
        - fail2ban

    portainer:
      service: portainer
      rule: Host(`portainer.kantai.online`) && ( ClientIP(`10.100.0.0/24`) || ClientIP(`192.168.1.0/24`) )
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - fail2ban

##    prowlarr:
##      service: prowlarr
##      rule: Host(`prowlarr.kantai.online`)
##      entrypoints:
##        - websecure
##      tls:
##        certresolver: letsencrypt

##    sonarr:
##      service: sonarr
##      rule: Host(`sonarr.kantai.online`)
##      entrypoints:
##        - websecure
##      tls:
##        certresolver: letsencrypt

    synapse:
      service: synapse
      rule: Host(`chat.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - geoblock
        - fail2ban

# >>>

  services:
# Services <<<

    bitwarden:
      loadbalancer:
        servers:
          - url: http://bitwarden:80

    pihole:
      loadbalancer:
        servers:
          - url: http://pihole:80

    nextcloud:
      loadbalancer:
        servers:
          - url: http://nextcloud-frontend:80

    serben-rust:
      loadbalancer:
        servers:
          - url: http://serben-rust:8123

    nginx:
      loadbalancer:
        servers:
          - url: http://nginx:80

    gitea:
      loadbalancer:
        servers:
          - url: http://gitea-frontend:3000

    vikunja:
      loadbalancer:
        servers:
          - url: http://vikunja-frontend:3456

    jellyfin:
      loadbalancer:
        servers:
          - url: http://jellyfin:8096

    portainer:
      loadbalancer:
        servers:
          - url: http://portainer:9000

##    prowlarr:
##      loadbalancer:
##        servers:
##          - url: http://prowlarr:9696
##

##    sonarr:
##      loadbalancer:
##        servers:
##          - url: http://sonarr:8989
##
    synapse:
      loadbalancer:
        servers:
          - url: http://synapse-frontend:8008
# >>>

  middlewares:
# Middlewares <<<

  # Replace for CalDAV & cardDAV
    nextcloud-replace:
      replacePathRegex:
        regex: '^/\.well-known/ca(l|rd)dav/'
        replacement: '/remote.php/dav/'

  # For some reason the gallery doubles the /remote.php/dav path, just remove it
    nextcloud-gallery-unfart:
      redirectRegex:
        regex: '^https://drive\.kantai\.online/remote\.php/dav/remote\.php/dav/(.*)'
        replacement: 'https://drive.kantai.online/remote.php/dav/${1}'

  # Requested for security reasons
    nextcloud-sts:
      headers:
        stsSeconds: 15552000

  # Block IPs from countries that are not in the allowed list
    geoblock:
      plugin:
        geoblock:
          allowLocalRequests: true
          allowUnknownCountries: false
          api: https://get.geojs.io/v1/ip/country/{ip}
          apiTimeoutMs: 150
          cacheSize: 15
          countries:
              - IT
          forceMonthlyUpdate: true
          logAllowedRequests: false
          logApiRequests: true
          logLocalRequests: true
          silentStartUp: false
          unknownCountryApiResponse: nil

  # Block IPs that fail excessively
    fail2ban:
      plugin:
        fail2ban:
          allowlist:
            ip:
              - "::1"
              - "127.0.0.1"
              - "192.168.1.0/24"
          rules:
            bantime: 10m
            enabled: true
            findtime: 10m
            maxretry: 10
            statuscode: 400-409

# >>>
