# vim:foldmethod=marker:fmr=<<<,>>>
# Dynamic traefik configuration

# Service template <<<
# routers:
#   <router-name>:
#     service: <service-name>
#     rule: Host(`<domain-to-match>`) && ClientIP(`<authorized-IPs>`)
#     entrypoints:
#       - websecure
#     tls:
#       certresolver: letsencrypt
# 
# services:
#   <service-name>:
#     loadbalancer:
#       servers:
#         - url: http://<container-name>:port
# >>>

http:
  routers:
# Routers <<<
    bitwarden:
      service: bitwarden
      rule: Host(`bitwarden.kantai.online`) && ( ClientIP(`10.100.0.0/24`) || ClientIP(`192.168.1.0/24`) )
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    pihole:
      service: pihole
      rule: Host(`pihole.kantai.online`) && ( ClientIP(`10.100.0.0/24`) || ClientIP(`192.168.1.0/24`) )
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    nextcloud:
      service: nextcloud
      rule: Host(`drive.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares: 
        - nextcloud_redirectregex
        - nextcloud_sts

    serben-rust:
      service: serben-rust
      rule: Host(`serben.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    gitea:
      service: gitea
      rule: Host(`git.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    copyparty:
      service: copyparty
      rule: Host(`files.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    jellyfin:
      service: jellyfin
      rule: Host(`media.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    vikunja:
      service: vikunja
      rule: Host(`todo.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    navidrome:
      service: navidrome
      rule: Host(`music.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    synapse:
      service: synapse
      rule: Host(`chat.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
# >>>

  services:
# Services <<<

    bitwarden:
      loadbalancer:
        servers:
          - url: http://bitwarden:80

    pihole:
      loadbalancer:
        servers:
          - url: http://pihole:80

    nextcloud:
      loadbalancer:
        servers:
          - url: http://nextcloud-frontend:80

    serben-rust:
      loadbalancer:
        servers:
          - url: http://serben-rust:8123

    gitea:
      loadbalancer:
        servers:
          - url: http://gitea-frontend:3000

    copyparty:
      loadbalancer:
        servers:
          - url: http://copyparty:3923

    jellyfin:
      loadbalancer:
        servers:
          - url: http://jellyfin:8096

    vikunja:
      loadbalancer:
        servers:
          - url: http://vikunja-frontend:3456

    navidrome:
      loadbalancer:
        servers:
          - url: http://navidrome:4533

    synapse:
      loadbalancer:
        servers:
          - url: http://synapse-frontend:8008
# >>>

  middlewares:
# Middlewares <<<

  # Enable redirect for CalDAV & cardDAV
    nextcloud_redirectregex:
      redirectregex:
        permanent: true
        regex: 'https://(.*)/.well-known/(?:card|cal)dav'
        replacement: 'https://${1}/remote.php/dav'

  # Requested for security reasons
    nextcloud_sts:
      headers:
        stsSeconds: 15552000
# >>>
