# vim:foldmethod=marker:fmr=<<<,>>>
# Dynamic traefik configuration

# Service template <<<
# routers:
#   <router-name>:
#     service: <service-name>
#     rule: Host(`<domain-to-match>`) && ClientIP(`<authorized-IPs>`)
#     entrypoints:
#       - websecure
#     tls:
#       certresolver: letsencrypt
# 
# services:
#   <service-name>:
#     loadbalancer:
#       servers:
#         - url: http://<container-name>:port
# >>>

http:
  routers:
# Routers <<<
    bitwarden:
      service: bitwarden
      rule: Host(`bitwarden.kantai.online`) && ( ClientIP(`10.100.0.0/24`) || ClientIP(`192.168.1.0/24`) )
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    pihole:
      service: pihole
      rule: Host(`pihole.kantai.online`) && ( ClientIP(`10.100.0.0/24`) || ClientIP(`192.168.1.0/24`) )
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    nextcloud:
      service: nextcloud
      rule: Host(`drive.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares: 
        - geoblock
        - nextcloud_redirectregex
        - nextcloud_sts

    serben-rust:
      service: serben-rust
      rule: Host(`serben.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    gitea:
      service: gitea
      rule: Host(`git.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

    vikunja:
      service: vikunja
      rule: Host(`todo.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - geoblock

    jellyfin:
      service: jellyfin
      rule: Host(`media.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - geoblock

    portainer:
      service: portainer
      rule: Host(`portainer.kantai.online`) && ( ClientIP(`10.100.0.0/24`) || ClientIP(`192.168.1.0/24`) )
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt
      middlewares:
        - fail2ban

##    prowlarr:
##      service: prowlarr
##      rule: Host(`prowlarr.kantai.online`)
##      entrypoints:
##        - websecure
##      tls:
##        certresolver: letsencrypt

##    sonarr:
##      service: sonarr
##      rule: Host(`sonarr.kantai.online`)
##      entrypoints:
##        - websecure
##      tls:
##        certresolver: letsencrypt

    synapse:
      service: synapse
      rule: Host(`chat.kantai.online`)
      entrypoints:
        - websecure
      tls:
        certresolver: letsencrypt

# >>>

  services:
# Services <<<

    bitwarden:
      loadbalancer:
        servers:
          - url: http://bitwarden:80

    pihole:
      loadbalancer:
        servers:
          - url: http://pihole:80

    nextcloud:
      loadbalancer:
        servers:
          - url: http://nextcloud-frontend:80

    serben-rust:
      loadbalancer:
        servers:
          - url: http://serben-rust:8123

    gitea:
      loadbalancer:
        servers:
          - url: http://gitea-frontend:3000

    vikunja:
      loadbalancer:
        servers:
          - url: http://vikunja-frontend:3456

    jellyfin:
      loadbalancer:
        servers:
          - url: http://jellyfin:8096

    portainer:
      loadbalancer:
        servers:
          - url: http://portainer:9000

##    prowlarr:
##      loadbalancer:
##        servers:
##          - url: http://prowlarr:9696
##

##    sonarr:
##      loadbalancer:
##        servers:
##          - url: http://sonarr:8989
##
    synapse:
      loadbalancer:
        servers:
          - url: http://synapse-frontend:8008
# >>>

  middlewares:
# Middlewares <<<

  # Enable redirect for CalDAV & cardDAV
    nextcloud_redirectregex:
      redirectregex:
        permanent: true
        regex: 'https://(.*)/.well-known/(?:card|cal)dav'
        replacement: 'https://${}/remote.php/dav'

  # Requested for security reasons
    nextcloud_sts:
      headers:
        stsSeconds: 15552000

  # Block IPs from countries that are not in the allowed list
    geoblock:
      plugin:
        geoblock:
          allowLocalRequests: true
          allowUnknownCountries: false
          api: https://get.geojs.io/v1/ip/country/{ip}
          apiTimeoutMs: 150
          cacheSize: 15
          countries:
              - IT
          forceMonthlyUpdate: true
          logAllowedRequests: false
          logApiRequests: true
          logLocalRequests: true
          silentStartUp: false
          unknownCountryApiResponse: nil

  # Block IPs that fail excessively
    fail2ban:
      plugin:
        fail2ban:
          allowlist:
            ip: ::1,127.0.0.1
          rules:
            bantime: 3h
            enabled: true
            findtime: 10m
            maxretry: 4
            statuscode: 400-409

# >>>
