# Update and report stuff
global:
  checkNewVersion: true
  sendAnonymousUsage: false

log:
  level: DEBUG

# Will probably disable this later, firewalled
api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: :80
    ## To force HTTPS: enable this later
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443
    http:
      #middlewares:
      #  - fail2ban
      tls:
        certResolver: letsencrypt

certificatesResolvers:
  letsencrypt:
    acme:
      email: matteo.rogora@live.it
      storage: /ssl-certs/acme.json
      caServer: 'https://acme-v02.api.letsencrypt.org/directory'
      httpChallenge:
        entryPoint: web

providers:
  docker:
    # Use docker's socket as provider for connection
    # endpoint: "unix:///var/run/docker.sock"
    # Select if you want to expose container by default
    exposedByDefault: false
  file:
    # Use dynamic configuration for routing
    filename: '/etc/traefik/dynamic.yml'
    watch: true

# Using plugins
experimental:
  plugins:
    geoblock:
      moduleName: "github.com/PascalMinder/geoblock"
      version: "v0.3.3"

    fail2ban:
      moduleName: "github.com/tomMoulard/fail2ban"
      version: "v0.8.7"
